
body {
    color: #404553;
    font-size: 16pt;
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#main {
    width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: auto;
    border-radius: 40px;
    background-color: white;
    border: 5px solid black;
}

input {
    text-align: center;
    padding: 5px;
    font-size: 10px;
    margin: 10px;
    width: 80px;
    border-radius: 10px;
    
}

#namA {
    background-color: gold;
    border: 5px solid black;
    
}

#namB {
    background-color: salmon;
    border: 5px solid black;
}

a {
    padding: 10px;
    text-align: center;
    margin: 10px;
    width: 15%;
    background-color: chocolate;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: white;
    color: black;
}
