* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.accordion {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.accordion-item {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
}

.accordion-header {
    background-color: #f1f1f1;
    padding: 15px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.accordion-content {
    padding: 15px;
    display: none;
    background-color: #fff;
}

.active +.accordion-content {
    display: block; /*mostrar o cabeçalho quando o conteúdo estiver ativo*/
}