* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #f12711, #f5af19);
    font-family: cursive;
}

.card {
    background-color: #ffffff;
    padding: 40px 60px;
    border-radius: 10px;
    text-align: center;
    max-width: 500px;
    width: 90%;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.02);
}

#greeting {
    font-size: 2.2rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.subtext {
    font-size: 1em;
    color: #333333;
}